## Table des matières
* [Q1 - Proportion de personnes en état de sous-nutrition](#question1)
    * [Somme de la population totale en 2017](#section_1_1)
    * [Somme de la population en sous-nutrition en 2017](#section_1_2)
    * [Proportion de la population mondiale en état de sous-nutrition en 2017](#section_1_3)
* [Q2 - Nombre théorique de personnes qui pourraient être nourries](#question2)
    * [Somme des Kcal/personne/jour par pays](#section_2_1)
    * [Nombre théorique de personnes qui pourraient être nourries dans le monde](#section_2_4)
* [Q3 - Nombre théorique de personnes qui pourraient être nourries avec des produits végétaux](#question3)
     * [Somme des Kcals/personne/an par pays pour les produits végétaux](#section_3_1)
     * [Nombre théorique de personnes qui pourraient être nourries avec des produits végétaux dans le monde](#section_3_3)
* [Q4 - Utilisation de la disponibilité intérieure](#question4)
    * [Attribué à l'alimentation animale](#section_4_3)
        * [Proportion mondiale de la disponibilité intérieure attribuée à l'alimentation animale](#sub_section_4_3_2)
        * [Proportion de la disponibilité intérieure attribuée à l'alimentation animale par pays](#sub_section_4_3_1)
    * [Attribué à l'alimentation humaine](#section_4_4)
        * [Proportion mondiale de la disponibilité intérieure attribuée à l'alimentation humaine](#sub_section_4_4_2)
        * [Proportion de la disponibilité intérieure attribuée à l'alimentation humaine par pays](#sub_section_4_4_1)
    * [Part de la disponibilité intérieure perdue](#section_4_5)
        * [Proportion mondiale de la disponibilité intérieure perdue](#sub_section_4_5_2)
        * [Proportion de la disponibilité intérieure perdue par pays](#sub_section_4_5_1)
* [Q5 - Pays où la proportion de personnes en état de sous-nutrition est la plus forte en 2017](#question5)
* [Q6 - Pays bénéficiaires d'aides depuis 2013](#question6)
    * [Top 10 des pays qui ont le plus bénéficié d’aide depuis 2013](#section_6_3)
* [Q7 - Disponibilité par habitant maximale et minimale](#question7)
    * [Top 10 des pays ayant le plus de disponibilité par habitant en 2017](#section_7_1)
    * [Top 10 des pays ayant le moins de disponibilité par habitant en 2017](#section_7_2)
* [Utilisation des céréales](#question8)
    * [Somme totale des céréales](#section_8_1)
        * [Proportion de la nourriture par rapport à la disponibilité intérieure mondiale](#sub_section_8_1_2)
        * [Proportion des aliments pour animaux par rapport à la disponibilité intérieure mondiale](#sub_section_8_1_3)
    * [Sommes des céréales par pays](#section_8_2)
        * [Somme des céréales attribuée à l'alimentation humaine par pays](#sub_section_8_2_1)
        * [Somme des céréales attribuée à l'alimentation animale par pays](#sub_section_8_2_2)
    * [Pays où la part des céréales attribué à l'alimentation des animaux est la plus élevé](#section_8_5)
    * [Pays où la part des céréales attribué à l'alimentation humaine est la plus élevé](#section_8_6)

# Import des librairies

In [1]:
# Dataframes
import pandas as pd
pd.options.mode.chained_assignment = None

In [2]:
# Calculs
import numpy as np

# Import des données

In [3]:
# Dataset 1 : Données sur la taille de la population mondiale en 2017
population = pd.read_csv("population.csv")
population_2017 = population[(population["Année"] == 2017) & (population["Valeur"]>0.0)]

In [4]:
# Dataset 2 : Données sur la population en sous-nutrition en 2017
sous_nutrition = pd.read_csv("sous_nutrition.csv")
sous_nutrition_2017 = sous_nutrition[(sous_nutrition["Année"] == "2016-2018")]

In [5]:
# Dataset 3 : Données sur la disponibilité alimentaire
dispo_alimentaire = pd.read_csv("dispo_alimentaire.csv")

In [6]:
# Dataset 4 : Données sur les aides alimentaires depuis 2013
aide = pd.read_csv("aide_alimentaire.csv")
aide_2013 = aide[aide["Année"] >= 2013]

# Constantes

In [7]:
# Besoin énergétique moyen des femmes (2000 à 2200 kcal)
besoin_kcal_j_f = 2100

# Besoin énergétique moyen des hommes (2400 à 2700 kcal)
besoin_kcal_j_h = 2550

In [8]:
# Besoin énergétique moyen (femmes et hommes)
besoin_kcal_j_h_f = (besoin_kcal_j_f + besoin_kcal_j_h)/2

In [9]:
# Besoin énergétique moyen sur une année
besoin_kcal = besoin_kcal_j_h_f*365

# Vérification et nettoyage des données

## Vérification des valeurs nulles

In [10]:
# Dataset 1 : Rien à signaler
population_2017.isnull().sum()

Zone      0
Année     0
Valeur    0
dtype: int64

In [11]:
# Dataset 2 : 99 valeurs manquantes
sous_nutrition_2017.isnull().sum()
# Remplacement des valeurs nulles par 0
sous_nutrition_2017 = sous_nutrition_2017.fillna(0)

In [12]:
# Vérification de la suppresion
sous_nutrition_2017.isnull().sum()

Zone      0
Année     0
Valeur    0
dtype: int64

In [13]:
# Dataset 3 : 8829 valeurs manquantes
dispo_alimentaire.isnull().sum()
# Remplacement des valeurs nulles par 0
dispo_alimentaire = dispo_alimentaire.fillna(0)

In [14]:
# Vérification de la suppresion
dispo_alimentaire.isnull().sum()

Zone                                                             0
Produit                                                          0
Origine                                                          0
Aliments pour animaux                                            0
Autres Utilisations                                              0
Disponibilité alimentaire (Kcal/personne/jour)                   0
Disponibilité alimentaire en quantité (kg/personne/an)           0
Disponibilité de matière grasse en quantité (g/personne/jour)    0
Disponibilité de protéines en quantité (g/personne/jour)         0
Disponibilité intérieure                                         0
Exportations - Quantité                                          0
Importations - Quantité                                          0
Nourriture                                                       0
Pertes                                                           0
Production                                                       0
Semences                                                         0
Traitement                                                       0
Variation de stock                                               0
dtype: int64

In [15]:
# Dataset 4 : Rien à signaler
aide_2013.isnull().sum()

Pays bénéficiaire    0
Année                0
Produit              0
Valeur               0
dtype: int64

## Vérification du formatage des données

In [16]:
# Dataset 1 : Modifier "année" en object
population_2017.info()
population_2017["Année"] = population_2017["Année"].astype(str)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 4 to 1414
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    236 non-null    object
 1   Année   236 non-null    int64
 2   Valeur  236 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.4+ KB

In [17]:
# Vérification de la conversion
population_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 236 entries, 4 to 1414
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    236 non-null    object
 1   Année   236 non-null    object
 2   Valeur  236 non-null    float64
dtypes: float64(1), object(2)
memory usage: 7.4+ KB

In [18]:
# Dataset 2 : Modifier la "valeur" en float
sous_nutrition_2017.info()
# Modifier '<0.1' en 0 pour permettre la conversion
sous_nutrition_2017.loc[sous_nutrition_2017["Valeur"] == "<0.1"] = 0
sous_nutrition_2017["Valeur"] = sous_nutrition_2017["Valeur"].astype(float)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 4 to 1216
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    203 non-null    object
 1   Année   203 non-null    object
 2   Valeur  203 non-null    object
dtypes: object(3)
memory usage: 6.3+ KB

In [19]:
# Vérification de la conversion
sous_nutrition_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 203 entries, 4 to 1216
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    203 non-null    object
 1   Année   203 non-null    object
 2   Valeur  203 non-null    float64
dtypes: float64(1), object(2)
memory usage: 6.3+ KB

In [20]:
# Dataset 3 : Rien à signaler
dispo_alimentaire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          15605 non-null  float64
 4   Autres Utilisations                                            15605 non-null  float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 15605 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         15605 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  15605 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       15605 non-null  float64
 9   Disponibilité intérieure                                       15605 non-null  float64
 10  Exportations - Quantité                                        15605 non-null  float64
 11  Importations - Quantité                                        15605 non-null  float64
 12  Nourriture                                                     15605 non-null  float64
 13  Pertes                                                         15605 non-null  float64
 14  Production                                                     15605 non-null  float64
 15  Semences                                                       15605 non-null  float64
 16  Traitement                                                     15605 non-null  float64
 17  Variation de stock                                             15605 non-null  float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

In [21]:
# Dataset 4 : Rien à signaler
aide_2013.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 57.6+ KB

# Autres

## Conversions

In [22]:
# Convertir la population 
population_2017["Valeur"] = population_2017["Valeur"]/1000

# Convertir les kcal par jour en kcal par an
dispo_alimentaire["Disponibilité alimentaire (Kcal/personne/jour)"] = dispo_alimentaire["Disponibilité alimentaire (Kcal/personne/jour)"]*365

# Convertir la quantité totale 
aide_2013["Valeur"] = aide_2013["Valeur"]/1000

## Modification des noms de colonnes

In [23]:
population_2017.rename(columns={"Valeur": "popTotale"}, inplace=True)
sous_nutrition_2017.rename(columns={"Valeur": "popSousNut", "Année": "Intervalle"}, inplace=True)
aide_2013.rename(columns={"Pays bénéficiaire": "Zone", "Valeur": "Quantité"}, inplace=True)
dispo_alimentaire.rename(columns={"Disponibilité alimentaire (Kcal/personne/jour)": "Kcal/personne/an"}, inplace=True)
dispo_alimentaire.rename(columns={"Disponibilité intérieure": "dispoMilliersTonnes"}, inplace=True)

# Partie I  - La sous-nutrition dans le monde

## Requête 1 : Proportion de personnes en état de sous-nutrition en 2017<a class="anchor" id="question1"></a>

In [24]:
# Jointure des données de population totale et de population en sous-nutrition en 2017
pop_sousnut = pd.merge(population_2017, sous_nutrition_2017, how="left", on="Zone")

In [25]:
# Filtrer les colonnes
pop_sousnut = pop_sousnut[["Zone", "popTotale", "popSousNut"]]
display(pop_sousnut.reset_index(drop=True).round(2))

                                       Zone  popTotale  popSousNut
0                               Afghanistan      36.30        10.5
1                            Afrique du Sud      57.01         3.1
2                                   Albanie       2.88         0.1
3                                   Algérie      41.39         1.3
4                                 Allemagne      82.66         0.0
..                                      ...        ...         ...
231  Venezuela (République bolivarienne du)      29.40         8.0
232                                Viet Nam      94.60         6.5
233                                   Yémen      27.83         0.0
234                                  Zambie      16.85         0.0
235                                Zimbabwe      14.24         0.0

[236 rows x 3 columns]

### Somme de la population totale en 2017<a class="anchor" id="section_1_1"></a>

In [26]:
pop_totale = (pop_sousnut["popTotale"].sum())/1000

print("En 2017, la population mondiale est de", round(pop_totale, 3), "milliards d'habitants.")

En 2017, la population mondiale est de 7.548 milliards d'habitants.

### Somme de la population en sous-nutrition en 2017<a class="anchor" id="section_1_2"></a>

In [27]:
# Filtrer les données
pop_sousnut = pop_sousnut[(pop_sousnut["popSousNut"] >0.0)]

In [28]:
pop_totale_sousnut = (pop_sousnut ["popSousNut"].sum())/1000

print("En 2017, la population mondiale en sous-nutrition est de", round(pop_totale_sousnut, 3), "milliards d'habitants.")

En 2017, la population mondiale en sous-nutrition est de 0.535 milliards d'habitants.

### Proportion de la population mondiale en état de sous-nutrition en 2017<a class="anchor" id="section_1_3"></a>

In [29]:
prop_sousnut = (pop_totale_sousnut / pop_totale)*100

print("Pour l'année 2017, la proportion de personnes en état de sous_nutrition mondial est de", round(prop_sousnut, 2), "%")

Pour l'année 2017, la proportion de personnes en état de sous_nutrition mondial est de 7.09 %

## Requête 2 : Nombre théorique de personnes qui pourraient être nourries en 2017<a class="anchor" id="question2"></a>

### Somme des Kcal/personne/jour par pays<a class="anchor" id="section_2_1"></a>

In [30]:
# Grouper par pays
dispo_alim_pays = dispo_alimentaire.groupby(["Zone"])["Kcal/personne/an"].sum().reset_index()
dispo_alim_pays.head()

             Zone  Kcal/personne/an
0     Afghanistan          761755.0
1  Afrique du Sud         1102300.0
2         Albanie         1163620.0
3         Algérie         1201945.0
4       Allemagne         1278595.0

In [31]:
# Jointure des données de population par pays et des données d'aide alimentaire
dispo_alim = pd.merge(dispo_alim_pays, population_2017, how="left", on="Zone")

In [32]:
# Filtrer les colonnes
dispo_alim = dispo_alim[["Zone", "Kcal/personne/an", "popTotale"]]
display(dispo_alim.reset_index(drop=True).head().round(2))

             Zone  Kcal/personne/an  popTotale
0     Afghanistan          761755.0      36.30
1  Afrique du Sud         1102300.0      57.01
2         Albanie         1163620.0       2.88
3         Algérie         1201945.0      41.39
4       Allemagne         1278595.0      82.66

### Proportion de la population totale qui pourraient être nourrie par pays<a class="anchor" id="section_2_2"></a>

In [33]:
dispo_alim["ratioKcal"] = dispo_alim["Kcal/personne/an"]/besoin_kcal
dispo_alim.head().round(2)

             Zone  Kcal/personne/an  popTotale  ratioKcal
0     Afghanistan          761755.0      36.30       0.90
1  Afrique du Sud         1102300.0      57.01       1.30
2         Albanie         1163620.0       2.88       1.37
3         Algérie         1201945.0      41.39       1.42
4       Allemagne         1278595.0      82.66       1.51

### Nombre théorique de personnes qui pourraient être nourries par pays<a class="anchor" id="section_2_3"></a>

In [34]:
dispo_alim["dispoAlimKcal"] = dispo_alim["popTotale"]*dispo_alim["ratioKcal"]
dispo_alim.head().round(2)

             Zone  Kcal/personne/an  popTotale  ratioKcal  dispoAlimKcal
0     Afghanistan          761755.0      36.30       0.90          32.58
1  Afrique du Sud         1102300.0      57.01       1.30          74.05
2         Albanie         1163620.0       2.88       1.37           3.95
3         Algérie         1201945.0      41.39       1.42          58.62
4       Allemagne         1278595.0      82.66       1.51         124.54

In [35]:
# Organisation des données et reset de l'index
dispo_alim = dispo_alim.sort_values("dispoAlimKcal", ascending=False)
display(dispo_alim.reset_index(drop=True).head().round(2))

,Zone,Kcal/personne/an,popTotale,ratioKcal,dispoAlimKcal
0,Inde,895710.0,1338.68,1.06,1412.95
1,États-Unis d'Amérique,1343930.0,325.08,1.58,514.82
2,Indonésie,1013240.0,264.65,1.19,315.99
3,Brésil,1190630.0,207.83,1.40,291.59
4,Nigéria,985500.0,190.87,1.16,221.66

### Nombre théorique de personnes qui pourraient être nourries dans le monde<a class="anchor" id="section_2_4"></a>

In [36]:
sum_dispo = (dispo_alim["dispoAlimKcal"].sum())/1000

print("Pour l'année 2017, le nombre théorique de personnes pourraient être nourries est de", round(sum_dispo, 3), "milliards.")

Pour l'année 2017, le nombre théorique de personnes pourraient être nourries est de 7.065 milliards.

## Requête 3 : Nombre théorique de personnes qui pourraient être nourries avec des produits végétaux<a class="anchor" id="question3"></a>

### Somme des Kcals/personne/an par pays pour les produits végétaux<a class="anchor" id="section_3_1"></a>

In [37]:
# Filtrer les produits "Végétales"
dispo_pop_veg = dispo_alimentaire[(dispo_alimentaire["Origine"] == "vegetale")]

In [38]:
# Jointure des données de population totale et de la disponibilité alimentaire des produits végétaux
dispo_pop_veg = pd.merge(dispo_pop_veg, population_2017, how="left", on="Zone")

In [39]:
# Grouper par pays
dispo_pop_veg_pays = dispo_pop_veg.groupby(["Zone"])["Kcal/personne/an"].sum().reset_index()
dispo_pop_veg_pays.head()

             Zone  Kcal/personne/an
0     Afghanistan          682915.0
1  Afrique du Sud          924545.0
2         Albanie          804095.0
3         Algérie         1063975.0
4       Allemagne          898265.0

In [40]:
# Jointure des données de population et des données de disponibilité alimentaire par pays
df_dispo_veg = pd.merge(dispo_pop_veg_pays, population_2017, how="left", on="Zone")

In [41]:
# Filtrer les colonnes
df_dispo_veg = df_dispo_veg[["Zone", "Kcal/personne/an", "popTotale"]]
df_dispo_veg.reset_index(drop=True).head().round(2)

             Zone  Kcal/personne/an  popTotale
0     Afghanistan          682915.0      36.30
1  Afrique du Sud          924545.0      57.01
2         Albanie          804095.0       2.88
3         Algérie         1063975.0      41.39
4       Allemagne          898265.0      82.66

### Proportion de la population totale qui pourraient être nourrie avec des produits végétaux par pays<a class="anchor" id="section_3_2"></a>

In [42]:
df_dispo_veg["ratioKcal"] = df_dispo_veg["Kcal/personne/an"]/besoin_kcal
df_dispo_veg.head().round(2)

             Zone  Kcal/personne/an  popTotale  ratioKcal
0     Afghanistan          682915.0      36.30       0.80
1  Afrique du Sud          924545.0      57.01       1.09
2         Albanie          804095.0       2.88       0.95
3         Algérie         1063975.0      41.39       1.25
4       Allemagne          898265.0      82.66       1.06

### Nombre théorique de personnes qui pourraient être nourries avec des produits végétaux par pays<a class="anchor" id="section_3_3"></a>

In [43]:
df_dispo_veg["dispoAlimKcal"] = df_dispo_veg["popTotale"]*df_dispo_veg["ratioKcal"]
df_dispo_veg.head().round(2)

             Zone  Kcal/personne/an  popTotale  ratioKcal  dispoAlimKcal
0     Afghanistan          682915.0      36.30       0.80          29.21
1  Afrique du Sud          924545.0      57.01       1.09          62.11
2         Albanie          804095.0       2.88       0.95           2.73
3         Algérie         1063975.0      41.39       1.25          51.89
4       Allemagne          898265.0      82.66       1.06          87.49

In [44]:
# Organisation des données et reset de l'index
df_dispo_veg = df_dispo_veg.sort_values("dispoAlimKcal", ascending=False)
display(df_dispo_veg.reset_index(drop=True).head().round(2))

,Zone,Kcal/personne/an,popTotale,ratioKcal,dispoAlimKcal
0,Inde,809935.0,1338.68,0.95,1277.64
1,États-Unis d'Amérique,984770.0,325.08,1.16,377.24
2,Indonésie,946810.0,264.65,1.12,295.27
3,Brésil,888775.0,207.83,1.05,217.67
4,Nigéria,947540.0,190.87,1.12,213.12

### Nombre théorique de personnes qui pourraient être nourries avec des produits végétaux dans le monde<a class="anchor" id="section_3_4"></a>

In [45]:
sum_dispo_veg = (df_dispo_veg["dispoAlimKcal"].sum())/1000

print("Pour l'année 2017, le nombre théorique de personnes pourraient être nourries avec des produits végétaux est de", round(sum_dispo_veg, 2), "milliards.")

Pour l'année 2017, le nombre théorique de personnes pourraient être nourries avec des produits végétaux est de 5.94 milliards.

## Requête 4 : Utilisation de la disponibilité intérieure<a class="anchor" id="question4"></a>

### Somme de la disponibilité intérieure mondiale<a class="anchor" id="section_4_1"></a>

In [46]:
dispo_int_monde = dispo_alimentaire[(dispo_alimentaire["dispoMilliersTonnes"] >0)]

In [47]:
dispo_int_monde = dispo_int_monde["dispoMilliersTonnes"].sum()

print("La disponibilité intérieure mondiale est de", round(dispo_int_monde), "milliers de tonnes.")

La disponibilité intérieure mondiale est de 9854329 milliers de tonnes.

### Somme de la disponibilité intérieure par pays<a class="anchor" id="section_4_2"></a>

In [48]:
dispo_int_pays = dispo_alimentaire.groupby(["Zone"])["dispoMilliersTonnes"].sum().reset_index()
dispo_int_pays.head()

             Zone  dispoMilliersTonnes
0     Afghanistan              13515.0
1  Afrique du Sud              61256.0
2         Albanie               4758.0
3         Algérie              42630.0
4       Allemagne             162275.0

## Attribué à l'alimentation animale<a class="anchor" id="section_4_3"></a>

### Proportion mondiale de la disponibilité intérieure attribuée à l'alimentation animale<a class="anchor" id="sub_section_4_3_2"></a>

In [49]:
# Filtrer les données
quantité_animaux = dispo_alimentaire[(dispo_alimentaire["Aliments pour animaux"] >0)]

In [50]:
quantité_animaux = dispo_alimentaire["Aliments pour animaux"].sum()

print("La quantité de disponibilité intérieure attribuée à l’alimentation animale est de", round(quantité_animaux), "milliers de tonnes")

La quantité de disponibilité intérieure attribuée à l’alimentation animale est de 1304245 milliers de tonnes

In [51]:
part_dédiée_animaux = (quantité_animaux / dispo_int_monde)*100

print("La part de la disponibilité intérieure attribuée à l’alimentation animale est de", round(part_dédiée_animaux, 2), "%")

La part de la disponibilité intérieure attribuée à l’alimentation animale est de 13.24 %

### Proportion de la disponibilité intérieure attribuée à l'alimentation animale par pays<a class="anchor" id="sub_section_4_3_1"></a>

In [52]:
# Filtrer les colonnes 
part_animaux = dispo_alimentaire[(dispo_alimentaire["Aliments pour animaux"] >0)]
display(part_animaux[["Zone", "Aliments pour animaux", "dispoMilliersTonnes"]].head())

           Zone  Aliments pour animaux  dispoMilliersTonnes
29  Afghanistan                  123.0               2083.0
31  Afghanistan                    4.0                 86.0
32  Afghanistan                  200.0                313.0
40  Afghanistan                  360.0                524.0
50  Afghanistan                   81.0                 90.0

In [53]:
# Grouper par pays
part_animaux_pays = part_animaux.groupby(["Zone"])["Aliments pour animaux"].sum().reset_index()
part_animaux_pays.head()

             Zone  Aliments pour animaux
0     Afghanistan                  768.0
1  Afrique du Sud                 5309.0
2         Albanie                  660.0
3         Algérie                 4352.0
4       Allemagne                30209.0

In [54]:
# Jointure des données de disponibilité alimentaire par pays et des données de disponibilité alimentaire attribué à l'alimentation animale
dispo_partAnimal = pd.merge(dispo_int_pays, part_animaux_pays, how="left", on="Zone")
dispo_partAnimal.reset_index(drop=True).head().round(2)

             Zone  dispoMilliersTonnes  Aliments pour animaux
0     Afghanistan              13515.0                  768.0
1  Afrique du Sud              61256.0                 5309.0
2         Albanie               4758.0                  660.0
3         Algérie              42630.0                 4352.0
4       Allemagne             162275.0                30209.0

In [55]:
dispo_partAnimal["ratioDédiéAnimaux"] = dispo_partAnimal["Aliments pour animaux"]/dispo_partAnimal["dispoMilliersTonnes"]
display(dispo_partAnimal.head().round(2))

,Zone,dispoMilliersTonnes,Aliments pour animaux,ratioDédiéAnimaux
0,Afghanistan,13515.0,768.0,0.06
1,Afrique du Sud,61256.0,5309.0,0.09
2,Albanie,4758.0,660.0,0.14
3,Algérie,42630.0,4352.0,0.10
4,Allemagne,162275.0,30209.0,0.19

In [56]:
# Organisation des données et reset de l'index
dispo_partAnimal = dispo_partAnimal.sort_values("ratioDédiéAnimaux", ascending=False)
dispo_partAnimal.reset_index(drop=True).head().round(2)

,Zone,dispoMilliersTonnes,Aliments pour animaux,ratioDédiéAnimaux
0,Danemark,19749.0,7835.0,0.40
1,Arabie saoudite,31274.0,11841.0,0.38
2,Bélarus,27522.0,10204.0,0.37
3,Tadjikistan,7617.0,2775.0,0.36
4,Irlande,10738.0,3758.0,0.35

## Attribué à l'alimentation humaine<a class="anchor" id="section_4_4"></a>

### Proportion mondiale de la disponibilité intérieure attribuée à l'alimentation humaine<a class="anchor" id="sub_section_4_4_2"></a>

In [57]:
# Filtrer les données
quantité_homme = dispo_alimentaire[(dispo_alimentaire["Nourriture"] >0)]

In [58]:
quantité_homme = dispo_alimentaire["Nourriture"].sum()

print("La quantité de disponibilité intérieure attribuée à l’alimentation humaine est de", round(quantité_homme), "milliers de tonnes")

La quantité de disponibilité intérieure attribuée à l’alimentation humaine est de 4876258 milliers de tonnes

In [59]:
part_dédiée_humain = (quantité_homme / dispo_int_monde)*100

print("La part de la disponibilité intérieure attribuée à l’alimentation humaine est de", round(part_dédiée_humain, 2), "%")

La part de la disponibilité intérieure attribuée à l’alimentation humaine est de 49.48 %

### Proportion de la disponibilité intérieure attribuée à l'alimentation humaine par pays<a class="anchor" id="sub_section_4_4_1"></a>

In [60]:
# Filtrer les colonnes 
part_homme = dispo_alimentaire[(dispo_alimentaire["Nourriture"] >0)]
display(part_homme[["Zone", "Nourriture", "dispoMilliersTonnes"]].head())

          Zone  Nourriture  dispoMilliersTonnes
0  Afghanistan        53.0                 53.0
1  Afghanistan        39.0                 41.0
2  Afghanistan         2.0                  2.0
4  Afghanistan        82.0                 82.0
5  Afghanistan        36.0                 36.0

In [61]:
# Grouper par pays
part_homme_pays = part_homme.groupby(["Zone"])["Nourriture"].sum().reset_index()
part_homme_pays.head()

             Zone  Nourriture
0     Afghanistan     10735.0
1  Afrique du Sud     29812.0
2         Albanie      3476.0
3         Algérie     31729.0
4       Allemagne     79238.0

In [62]:
# Jointure des données de disponibilité alimentaire par pays et des données de disponibilité alimentaire attribué à l'alimentation humaine
dispo_partHomme = pd.merge(dispo_int_pays, part_homme_pays, how="left", on="Zone")
dispo_partHomme.reset_index(drop=True).head().round(2)

             Zone  dispoMilliersTonnes  Nourriture
0     Afghanistan              13515.0     10735.0
1  Afrique du Sud              61256.0     29812.0
2         Albanie               4758.0      3476.0
3         Algérie              42630.0     31729.0
4       Allemagne             162275.0     79238.0

In [63]:
dispo_partHomme["ratioDédiéHomme"] = dispo_partHomme["Nourriture"]/dispo_partHomme["dispoMilliersTonnes"]
dispo_partHomme.head().round(2)

             Zone  dispoMilliersTonnes  Nourriture  ratioDédiéHomme
0     Afghanistan              13515.0     10735.0             0.79
1  Afrique du Sud              61256.0     29812.0             0.49
2         Albanie               4758.0      3476.0             0.73
3         Algérie              42630.0     31729.0             0.74
4       Allemagne             162275.0     79238.0             0.49

In [64]:
# Organisation des données et reset de l'index

In [65]:
dispo_partHomme = dispo_partHomme.sort_values("ratioDédiéHomme", ascending=False)
dispo_partHomme.reset_index(drop=True).head().round(2)

                   Zone  dispoMilliersTonnes  Nourriture  ratioDédiéHomme
0  Chine - RAS de Macao                383.0       368.0             0.96
1           Timor-Leste                447.0       419.0             0.94
2                 Yémen               9782.0      9162.0             0.94
3               Lesotho                966.0       899.0             0.93
4                Rwanda              10054.0      9273.0             0.92

## Part de la disponibilité intérieure perdue<a class="anchor" id="section_4_5"></a>

### Proportion mondiale de la disponibilité intérieure perdue<a class="anchor" id="sub_section_4_5_2"></a>

In [66]:
# Filtrer les données
quantité_perte = dispo_alimentaire[(dispo_alimentaire["Pertes"] >0)]

In [67]:
quantité_perte = dispo_alimentaire["Pertes"].sum()

print("La quantité de disponibilité intérieure perdue est de", round(quantité_perte), "milliers de tonnes.")

La quantité de disponibilité intérieure perdue est de 453698 milliers de tonnes.

In [68]:
part_pertes = (quantité_perte / dispo_int_monde)*100

print("La part de la disponibilité intérieure attribuée perdue est de", round(part_pertes, 2), "%")

La part de la disponibilité intérieure attribuée perdue est de 4.6 %

### Proportion de la disponibilité intérieure perdue par pays<a class="anchor" id="sub_section_4_5_1"></a>

In [69]:
# Filtrer les colonnes 
pertes = dispo_alimentaire[(dispo_alimentaire["Pertes"] >0)]
display(pertes[["Zone", "Pertes", "dispoMilliersTonnes"]].head())

           Zone  Pertes  dispoMilliersTonnes
1   Afghanistan     2.0                 41.0
7   Afghanistan   775.0               5992.0
16  Afghanistan    17.0                240.0
29  Afghanistan    58.0               2083.0
30  Afghanistan   122.0               1007.0

In [70]:
# Grouper par pays
pertes_pays = pertes.groupby(["Zone"])["Pertes"].sum().reset_index()
pertes_pays.head()

             Zone  Pertes
0     Afghanistan  1135.0
1  Afrique du Sud  2193.0
2         Albanie   276.0
3         Algérie  3753.0
4       Allemagne  3781.0

In [71]:
# Jointure des données de disponibilité alimentaire par pays et des pertes
dispoPertes = pd.merge(dispo_int_pays, pertes_pays, how="left", on="Zone")
dispoPertes.reset_index(drop=True).head().round(2)

             Zone  dispoMilliersTonnes  Pertes
0     Afghanistan              13515.0  1135.0
1  Afrique du Sud              61256.0  2193.0
2         Albanie               4758.0   276.0
3         Algérie              42630.0  3753.0
4       Allemagne             162275.0  3781.0

In [72]:
dispoPertes["ratioPertes"] = dispoPertes["Pertes"]/dispoPertes["dispoMilliersTonnes"]
dispoPertes.head().round(2)

             Zone  dispoMilliersTonnes  Pertes  ratioPertes
0     Afghanistan              13515.0  1135.0         0.08
1  Afrique du Sud              61256.0  2193.0         0.04
2         Albanie               4758.0   276.0         0.06
3         Algérie              42630.0  3753.0         0.09
4       Allemagne             162275.0  3781.0         0.02

In [73]:
# Organisation des données et reset de l'index
dispoPertes = dispoPertes.sort_values("ratioPertes", ascending=False)
dispoPertes.reset_index(drop=True).head().round(2)

           Zone  dispoMilliersTonnes  Pertes  ratioPertes
0  Sierra Leone               6570.0  2191.0         0.33
1         Ghana              38998.0  7442.0         0.19
2      Cameroun              26222.0  3981.0         0.15
3        Angola              32029.0  4799.0         0.15
4     Dominique                141.0    20.0         0.14

# Partie 2 -  Focus sur la sous-nutrition par pays

## Requête 1 : Pays où la proportion de personnes en état de sous-nutrition est la plus forte en 2017<a class="anchor" id="question5"></a>

In [74]:
# Ajout d'une colonne pour représenter la proportion de sous-nutrition par pays
pop_sousnut["propSousNut (%)"] = (pop_sousnut["popSousNut"]/pop_sousnut["popTotale"])*100
display(pop_sousnut.head().round(2))

             Zone  popTotale  popSousNut  propSousNut (%)
0     Afghanistan      36.30        10.5            28.93
1  Afrique du Sud      57.01         3.1             5.44
2         Albanie       2.88         0.1             3.47
3         Algérie      41.39         1.3             3.14
6          Angola      29.82         5.8            19.45

In [75]:
# Organisation des données et reset de l'index
prop_sousnut_top10 = pop_sousnut.sort_values("propSousNut (%)", ascending=False)
display(prop_sousnut_top10.reset_index(drop=True)[["Zone", "popTotale", "popSousNut", "propSousNut (%)"]][0:10].round(2))

,Zone,popTotale,popSousNut,propSousNut (%)
0,Haïti,10.98,5.3,48.26
1,République populaire démocratique de Corée,25.43,12.0,47.19
2,Madagascar,25.57,10.5,41.06
3,Libéria,4.70,1.8,38.28
4,Lesotho,2.09,0.8,38.25
5,Tchad,15.02,5.7,37.96
6,Rwanda,11.98,4.2,35.06
7,Mozambique,28.65,9.4,32.81
8,Timor-Leste,1.24,0.4,32.17
9,Afghanistan,36.30,10.5,28.93

## Requête 2 : Pays bénéficiaires d'aides depuis 2013<a class="anchor" id="question6"></a>

### Somme des quantités depuis 2013<a class="anchor" id="section_6_1"></a>

In [76]:
# Filtrer les données
aide_2013 = aide_2013[(aide_2013["Quantité"] >0)]

In [77]:
quantité_totale = aide_2013["Quantité"].sum()

print("Depuis 2013, la quantité d'aide alimentaire est de", round(quantité_totale), "milliers de tonnes.")

Depuis 2013, la quantité d'aide alimentaire est de 11036 milliers de tonnes.

### Somme des quantité par pays depuis 2013<a class="anchor" id="section_6_2"></a>

In [78]:
# Grouper par pays
aide_2013_pays = aide_2013.groupby(["Zone"])["Quantité"].sum().reset_index()
aide_2013_pays.head()

          Zone  Quantité
0  Afghanistan   185.452
1      Algérie    81.114
2       Angola     5.014
3   Bangladesh   348.188
4      Bhoutan     2.666

### Top 10 des pays qui ont le plus bénéficié d’aide depuis 2013<a class="anchor" id="section_6_3"></a>

In [79]:
# Organisation des données et reset de l'index
aide_pays_top10 = aide_2013_pays.sort_values("Quantité", ascending=False)
display(aide_pays_top10.reset_index(drop=True)[0:10].round(2))

                               Zone  Quantité
0         République arabe syrienne   1858.94
1                          Éthiopie   1381.29
2                             Yémen   1206.48
3                     Soudan du Sud    695.25
4                            Soudan    669.78
5                             Kenya    552.84
6                        Bangladesh    348.19
7                           Somalie    292.68
8  République démocratique du Congo    288.50
9                             Niger    276.34

## Requête 3 : Disponibilité par habitant maximale et minimale<a class="anchor" id="question7"></a>

In [80]:
# Jointure des données de population par pays et des données de disponibilité
dispoParHab = pd.merge(dispo_int_pays, population_2017, how="right", on="Zone")

In [81]:
# Filtrer les données
dispoParHab = dispoParHab[(dispoParHab["dispoMilliersTonnes"] >0)]
dispoParHab = dispoParHab[["Zone", "dispoMilliersTonnes", "popTotale"]]

In [82]:
# Ajout d'une colonne pour représenter la disponbilité par habitant
dispoParHab["dispoParHab"] = dispoParHab["dispoMilliersTonnes"]/dispoParHab["popTotale"]
display(dispoParHab.head().round(2))

             Zone  dispoMilliersTonnes  popTotale  dispoParHab
0     Afghanistan              13515.0      36.30       372.35
1  Afrique du Sud              61256.0      57.01      1074.48
2         Albanie               4758.0       2.88      1649.70
3         Algérie              42630.0      41.39      1029.98
4       Allemagne             162275.0      82.66      1963.20

### Top 10 des pays ayant le plus de disponibilité par habitant en 2017<a class="anchor" id="section_7_1"></a>

In [83]:
# Organisation des données et reset de l'index
dispoParHab_top10 = dispoParHab.sort_values("dispoParHab", ascending=False)
display(dispoParHab_top10.reset_index(drop=True)[0:10].round(2))

        Zone  dispoMilliersTonnes  popTotale  dispoParHab
0   Eswatini               6467.0       1.12      5749.44
1     Brésil            1033314.0     207.83      4971.83
2     Guyana               3290.0       0.78      4243.95
3     Belize               1542.0       0.38      4103.58
4    Maurice               4767.0       1.26      3769.87
5   Danemark              19749.0       5.73      3445.23
6    Bélarus              27522.0       9.45      2912.31
7      Fidji               2499.0       0.88      2848.00
8  Australie              66992.0      24.58      2724.96
9   Lituanie               7467.0       2.85      2624.22

### Top 10 des pays ayant le moins de disponibilité par habitant en 2017<a class="anchor" id="section_7_2"></a>

In [84]:
dispoParHab_flop10 = dispoParHab.sort_values("dispoParHab", ascending=True)
display(dispoParHab_flop10.reset_index(drop=True)[0:10].round(2))

            Zone  dispoMilliersTonnes  popTotale  dispoParHab
0          Yémen               9782.0      27.83       351.43
1          Tchad               5304.0      15.02       353.21
2    Timor-Leste                447.0       1.24       359.54
3    Afghanistan              13515.0      36.30       372.35
4       Éthiopie              44014.0     106.40       413.67
5         Gambie                940.0       2.21       424.59
6        Libéria               2002.0       4.70       425.76
7  Guinée-Bissau                786.0       1.83       429.94
8     Bangladesh              72757.0     159.69       455.63
9        Lesotho                966.0       2.09       461.86

# Informations complémentaires

## Utilisation des céréales<a class="anchor" id="question8"></a>

In [85]:
# Filtrer les céréales (blé, maïs, seigle, orge, riz, avoine, millet, sorgho)
dispo_cereales = dispo_alimentaire[(dispo_alimentaire["Produit"] == "Céréales, Autres") | (dispo_alimentaire["Produit"] == "Blé") | (dispo_alimentaire["Produit"] == "Avoine") | (dispo_alimentaire["Produit"] == "Orge") | (dispo_alimentaire["Produit"] == "Seigle") | (dispo_alimentaire["Produit"] == "Maïs") | (dispo_alimentaire["Produit"] == "Millet") | (dispo_alimentaire["Produit"] == "Riz (Eq Blanchi)") | (dispo_alimentaire["Produit"] == "Sorgho")]

In [86]:
# Ajout d'une colonne avec la catégorie "Céréales"
dispo_cereales = dispo_cereales.assign(Catégorie="céréales")

In [87]:
# Filtrer les données
dispo_cereales = dispo_cereales[["Zone", "Origine", "Catégorie", "dispoMilliersTonnes", "Nourriture", "Aliments pour animaux"]]
display(dispo_cereales.head())

,Zone,Origine,Catégorie,dispoMilliersTonnes,Nourriture,Aliments pour animaux
7,Afghanistan,vegetale,céréales,5992.0,4895.0,0.0
12,Afghanistan,vegetale,céréales,0.0,0.0,0.0
32,Afghanistan,vegetale,céréales,313.0,76.0,200.0
34,Afghanistan,vegetale,céréales,13.0,12.0,0.0
40,Afghanistan,vegetale,céréales,524.0,89.0,360.0

### Somme totale des céréales<a class="anchor" id="section_8_1"></a>

In [88]:
# Filtrer les données
quantité_cereales = dispo_cereales[(dispo_cereales["dispoMilliersTonnes"] >0)]

In [89]:
quantité_cereales = dispo_cereales["dispoMilliersTonnes"].sum()

print("La quantité de céréales est de", round(quantité_cereales), "milliers de tonnes.")

La quantité de céréales est de 2406999 milliers de tonnes.

### Proportion des céréales par rapport à la disponibilité intérieure, tous produits confondus<a class="anchor" id="sub_section_8_1_1"></a>

In [90]:
ratio_mondial = (quantité_cereales / dispo_int_monde)*100

print("Les céréales représentent", round(ratio_mondial, 2), "% de la disponibilité intérieure mondiale.")

Les céréales représentent 24.43 % de la disponibilité intérieure mondiale.

### Proportion de la nourriture par rapport à la disponibilité intérieure mondiale<a class="anchor" id="sub_section_8_1_2"></a>

In [91]:
# Filtrer les données
quantité_cereales_humain = dispo_cereales[(dispo_cereales["Nourriture"] >0)]

In [92]:
quantité_cereales_humain = dispo_cereales["Nourriture"].sum()

In [93]:
dispo_total_h = (quantité_cereales_humain / quantité_cereales)*100

print("La part de la disponibilité intérieure des céréales attribué à l'alimentation humaine est de", round(dispo_total_h, 2), "%")

La part de la disponibilité intérieure des céréales attribué à l'alimentation humaine est de 42.75 %

### Proportion des aliments pour animaux par rapport à la disponibilité intérieure mondiale<a class="anchor" id="sub_section_8_1_3"></a>

In [94]:
# Filtrer les données
quantité_cereales_animal = dispo_cereales[(dispo_cereales["Aliments pour animaux"] >0)]

In [95]:
quantité_cereales_animal = dispo_cereales["Aliments pour animaux"].sum()

In [96]:
dispo_total_a = (quantité_cereales_animal / quantité_cereales)*100

print("La part de la disponibilité intérieure des céréales attribué à l'alimentation des animaux est de", round(dispo_total_a, 2), "%")

La part de la disponibilité intérieure des céréales attribué à l'alimentation des animaux est de 36.29 %

### Sommes des céréales par pays<a class="anchor" id="section_8_2"></a>

In [97]:
# Filtrer les données
dispo_cereales = dispo_cereales[(dispo_cereales["dispoMilliersTonnes"] >0)]

In [98]:
# Grouper par pays
dispo_int_pays = dispo_cereales.groupby(["Zone"])["dispoMilliersTonnes"].sum().reset_index()
dispo_int_pays.head()

             Zone  dispoMilliersTonnes
0     Afghanistan               7303.0
1  Afrique du Sud              15493.0
2         Albanie               1145.0
3         Algérie              15013.0
4       Allemagne              42158.0

### Somme des céréales attribuée à l'alimentation humaine par pays<a class="anchor" id="sub_section_8_2_1"></a>

In [99]:
# Filtrer les données
dispoHum_cereales_pays = dispo_cereales[(dispo_cereales["Nourriture"] >0)]

In [100]:
# Grouper par pays
df_part_humain = dispoHum_cereales_pays.groupby(["Zone"])["Nourriture"].sum().reset_index()
df_part_humain.head()

             Zone  Nourriture
0     Afghanistan      5494.0
1  Afrique du Sud      9503.0
2         Albanie       474.0
3         Algérie      8535.0
4       Allemagne      9191.0

### Somme des céréales attribuée à l'alimentation animale par pays<a class="anchor" id="sub_section_8_2_2"></a>

In [101]:
# Filtrer les données
dispoAnim_cereales_pays = dispo_cereales[(dispo_cereales["Aliments pour animaux"] >0)]

In [102]:
# Grouper par pays
df_part_animaux = dispoAnim_cereales_pays.groupby(["Zone"])["Aliments pour animaux"].sum().reset_index()
df_part_animaux.head()

             Zone  Aliments pour animaux
0     Afghanistan                  560.0
1  Afrique du Sud                 4824.0
2         Albanie                  411.0
3         Algérie                 4337.0
4       Allemagne                26615.0

In [103]:
# Jointure des données de disponibilité alimentaire, d'aliments pour animaux et de nourriture
dispo_cerealesAll = pd.merge(pd.merge(dispo_int_pays, df_part_animaux), df_part_humain, how="left", on="Zone")
display(dispo_cerealesAll.head())

             Zone  dispoMilliersTonnes  Aliments pour animaux  Nourriture
0     Afghanistan               7303.0                  560.0      5494.0
1  Afrique du Sud              15493.0                 4824.0      9503.0
2         Albanie               1145.0                  411.0       474.0
3         Algérie              15013.0                 4337.0      8535.0
4       Allemagne              42158.0                26615.0      9191.0

In [104]:
# Organisation des données et reset de l'index
dispo_cerealesAll = dispo_cerealesAll.sort_values("dispoMilliersTonnes", ascending=False)
display(dispo_cerealesAll.reset_index(drop=True).head())

,Zone,dispoMilliersTonnes,Aliments pour animaux,Nourriture
0,"Chine, continentale",483482.0,193042.0,209038.0
1,États-Unis d'Amérique,343006.0,140096.0,33810.0
2,Inde,216579.0,11419.0,185886.0
3,Brésil,79455.0,43264.0,23290.0
4,Indonésie,74532.0,8045.0,48845.0

### Proportion de la disponibilité intérieure des céréales attribuée à l'alimentation animale par pays<a class="anchor" id="section_8_3"></a>

In [105]:
dispo_cerealesAll["ratioAliAnimal (%)"] = (dispo_cerealesAll["Aliments pour animaux"]/dispo_cerealesAll["dispoMilliersTonnes"])*100
dispo_cerealesAll.head().round(2)

,Zone,dispoMilliersTonnes,Aliments pour animaux,Nourriture,ratioAliAnimal (%)
32,"Chine, continentale",483482.0,193042.0,209038.0,39.93
158,États-Unis d'Amérique,343006.0,140096.0,33810.0,40.84
62,Inde,216579.0,11419.0,185886.0,5.27
20,Brésil,79455.0,43264.0,23290.0,54.45
63,Indonésie,74532.0,8045.0,48845.0,10.79

### Proportion de la disponibilité intérieure des céréales attribuée à l'alimentation humaine par pays<a class="anchor" id="section_8_4"></a>

In [106]:
dispo_cerealesAll["ratioAliHumain (%)"] = (dispo_cerealesAll["Nourriture"]/dispo_cerealesAll["dispoMilliersTonnes"])*100
dispo_cerealesAll.head().round(2)

,Zone,dispoMilliersTonnes,Aliments pour animaux,Nourriture,ratioAliAnimal (%),ratioAliHumain (%)
32,"Chine, continentale",483482.0,193042.0,209038.0,39.93,43.24
158,États-Unis d'Amérique,343006.0,140096.0,33810.0,40.84,9.86
62,Inde,216579.0,11419.0,185886.0,5.27,85.83
20,Brésil,79455.0,43264.0,23290.0,54.45,29.31
63,Indonésie,74532.0,8045.0,48845.0,10.79,65.54

### Pays où la part des céréales attribué à l'alimentation des animaux est la plus élevé<a class="anchor" id="section_8_5"></a>

In [107]:
# Organisation des données et reset de l'index
top_cerealesAnimal = dispo_cerealesAll.sort_values("ratioAliAnimal (%)", ascending=False)
display(top_cerealesAnimal.reset_index(drop=True).head().round(2))

,Zone,dispoMilliersTonnes,Aliments pour animaux,Nourriture,ratioAliAnimal (%),ratioAliHumain (%)
0,Danemark,8073.0,6649.0,737.0,82.36,9.13
1,Irlande,3742.0,2861.0,584.0,76.46,15.61
2,Espagne,33495.0,24926.0,4971.0,74.42,14.84
3,Canada,32863.0,23887.0,4183.0,72.69,12.73
4,Croatie,2816.0,1990.0,520.0,70.67,18.47

### Pays où la part des céréales attribué à l'alimentation humaine est la plus élevé<a class="anchor" id="section_8_6"></a>

In [108]:
# Organisation des données et reset de l'index
top_cerealesHomme = dispo_cerealesAll.sort_values("ratioAliHumain (%)", ascending=False)
display(top_cerealesHomme.reset_index(drop=True).head().round(2))

,Zone,dispoMilliersTonnes,Aliments pour animaux,Nourriture,ratioAliAnimal (%),ratioAliHumain (%)
0,Chine - RAS de Hong-Kong,802.0,2.0,763.0,0.25,95.14
1,Timor-Leste,197.0,8.0,184.0,4.06,93.40
2,Mauritanie,724.0,12.0,668.0,1.66,92.27
3,Lesotho,514.0,1.0,469.0,0.19,91.25
4,Yémen,4354.0,210.0,3950.0,4.82,90.72